/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
margin: 0%;
}
header{
	border: 20x solid black;
}
.row{
	display: block;
	width: 100%; 
	height: 50vh;
}
.col{
	display: inline;
	width:50%; 
	height: 100%;
	float: left;
}
#list-items{
	font-size: x-large;
}
img{
	width: 100%; 
	height: 100%;
	border: 10px;
	border-radius: 5px;
	box-shadow:3px 3px 3px rgb(67, 189, 226);
}
#head-tag{
	text-align: center;
	justify-content: center; 
	align-items: center;
	display: flex;
}