/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
/* display: inline-block */
}
#main-block{
	width: 99%; 
	height: 100px; 
	background-color: lavender;
	border: 2px solid black;
	padding: 2px;
	margin-right: 10px;
	display: block;
}
.sub-block{
	display: inline; 
	float: left; 
}
#form-block{
	float: right;
	margin-top: 27px; 
	margin-right: 20px; 


}
#form-block form input{
	font-size: 15px;
	
	background-color: white; 
	padding: 13px; 
	border: 0px solid green; 
	border-radius: 15px; 
	box-shadow: 3px 3px 6px red ;



}
.nav-section{
	width: 99%; 
	height: 50px;
	background-color: aliceblue; 
	border: 2px solid black; 
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}
.nav-section ul li{
	list-style: none; 
	text-decoration: none;
	display: inline;
	padding: 20px;
	
}
.aside-section{
	width: 99%; 
	height: 260px; 
	margin-top: 5px;
	margin-right: 10px;
	/* border: 2px solid black;  */
	background-color: azure;
	display: block; 
	
}
#left-sidebar{
	width: 150px;
	border: 2px solid black;
	margin: 5px;
	display: inline-block;
}
.aside-section ul li{
	list-style: none; 
	padding: 2px;
}
.post-img{
	height: 100%; 
	width: 500px; 
	border: 2px solid black; 
	display: inline-block;
}