#main-block{
	width: 99%; 
	height: 100px; 
	background-color: lavender;
	border: 2px solid black;
	padding: 2px;
	margin-right: 10px;
	display: block;
}
.sub-block{
	display: inline; 
	float: left; 
}
#form-block{
	float: right;
	margin-top: 27px; 
	margin-right: 20px; 


}
#form-block form input{
	font-size: 15px;
	
	background-color: white; 
	padding: 13px; 
	border: 0px solid green; 
	border-radius: 15px; 
	box-shadow: 3px 3px 6px red ;



}
.nav-section{
	width: 99%; 
	height: 50px;
	background-color: aliceblue; 
	border: 2px solid black; 
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}
.nav-section ul li{
	list-style: none; 
	text-decoration: none;
	display: inline;
	margin: 5px;
	padding: 30px;
	
}
.aside-section{
	width: 99%; 
	height: 310px; 
	margin-top: 5px;
	margin-right: 10px;
	background-color: azure;
	display:block; 
	
}
#left-sidebar{
	width: 150px;
	border: 2px solid black;
	margin: 5px;
	display: inline;
	height: 98%;
	float: left;
	
}
.aside-section ul li{
	list-style: none; 
	padding: 2px;
}

.post-img{
	
	height: 98%; 
	margin: 5px;
	width: 880px; 
	border: 2px solid black; 
	display: inline;
	float: left;
}
#right-sidebar{
	width: 150px;
	height: 98%;
	border: 2px solid black;
	display: inline;
	float: left;
	margin: 5px;
	
}
#page-footer{
	text-align: center;
}
.row{
	width: 98%; 
	height: 49%; 
	display: block; 
}
.row img{
	width: 32%; 
	height: 98%; 
	display: inline; 
	float: left; 
	border: 1px solid red;
	margin-left: 9px; 
	margin-top: 2px;
}